accelerate==0.19.0
antlr4-python3-runtime==4.9.3
av==10.0.0
Brotli @ file:///work/ci_py311/brotli-split_1676830125088/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
coloredlogs==15.0.1
contourpy==1.2.0
controlnet-aux==0.0.5
cycler==0.12.1
decorator==4.4.2
decord==0.6.0
diffusers==0.16.0
einops==0.6.1
ffmpeg==1.4
filelock @ file:///croot/filelock_1700591183607/work
flatbuffers==24.3.25
fonttools==4.49.0
fsspec==2024.2.0
ftfy==6.2.0
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
huggingface-hub==0.21.1
humanfriendly==10.0
idna @ file:///work/ci_py311/idna_1676822698822/work
imageio==2.34.0
imageio-ffmpeg==0.4.9
importlib-metadata==7.0.1
Jinja2 @ file:///croot/jinja2_1706733616596/work
kiwisolver==1.4.5
lazy_loader==0.3
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib==3.8.3
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
moviepy==1.0.3
mpmath @ file:///croot/mpmath_1690848262763/work
mypy-extensions==1.0.0
natsort==8.4.0
networkx @ file:///croot/networkx_1690561992265/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=5f96f274d410a1682519282ae769c877d32fdbf171aa8badec7bf5e1d3a1748a
omegaconf==2.3.0
onnx==1.16.0
onnxruntime==1.16.3
open-clip-torch==2.24.0
opencv-python==4.9.0.80
packaging==23.2
pandas==2.0.1
pillow @ file:///croot/pillow_1707233021655/work
proglog==0.1.10
protobuf==5.26.1
psutil==5.9.8
pycocotools==2.0.7
pyparsing==3.1.2
pyre-extensions==0.0.29
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.8.2
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests @ file:///croot/requests_1707355572290/work
rotary-embedding-torch==0.3.6
safetensors==0.4.2
scikit-image==0.22.0
scipy==1.12.0
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
sentencepiece==0.2.0
six==1.16.0
sympy @ file:///croot/sympy_1701397643339/work
tifffile==2024.2.12
timm==0.6.13
tokenizers==0.13.3
torch==2.0.1
torchvision==0.15.2
tqdm==4.65.0
transformers==4.28.1
triton==2.0.0
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
tzdata==2024.1
urllib3 @ file:///croot/urllib3_1707770551213/work
wcwidth==0.2.13
xformers==0.0.20
zipp==3.17.0
